<div class="note">
    <strong>Font Attribution:</strong><br />
    This example uses <strong>PragmataPro</strong> by Fabrizio Schiavi.<br />
    Available at <a href="https://fsd.it/shop/fonts/pragmatapro/" target="_blank" class="note-link">https://fsd.it/shop/fonts/pragmatapro/</a>
</div>
