:root {
    --color-accent: #5da0f2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
    image-rendering: pixelated;
    width: 100% !important;
    height: 100% !important;
}

@supports (image-rendering: crisp-edges) {
    canvas {
        image-rendering: crisp-edges;
    }
}

#canvas-container {
    width: 100%;
    height: 100%;
}
